@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-bold.otf");
  font-weight: 700;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  max-width: 18px;
  max-height: 18px;
}
.icon:hover {
  fill: #4b6ed6;
}

.btn {
  position: relative;
  z-index: 10px;
  padding: 0.25rem 0.6rem;
  background-color: #222222;
  border-radius: 0.3rem;
  color: #f0f2fa;
  transition: 0.3s all;
  box-shadow: 0px 0px 3px 0px rgba(110, 110, 125, 0.2), 0 2px 2px 0 rgba(110, 110, 125, 0.2), 0 1px 5px 0 rgba(110, 110, 125, 0.2);
}

a {
  color: #222222;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 33.3333333333;
  max-width: 46.25rem;
}

.swiper-btn {
  text-align: center;
  width: 40px;
  height: 40px;
  color: #222222;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0px rgba(110, 110, 125, 0.6), 0 2px 2px 0 rgba(110, 110, 125, 0.6), 0 1px 5px 0 rgba(110, 110, 125, 0.6);
}
.swiper-btn::after {
  font-size: 16px;
  font-weight: 700;
  line-height: 0;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.wrapper {
  font-family: Aeroport, sans-serif;
}

.logo {
  user-select: none;
}

.header-bg {
  background-color: #f0f2fa;
  color: #222222;
}

.header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.25rem;
  align-items: center;
  font-size: clamp(0.5rem, 0.3542rem + 0.7778vw, 0.81rem);
}
.header-act {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.header__search {
  display: flex;
  align-items: center;
  width: 18rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid;
  border-color: #e3e5ed;
}
.header__search:focus-within {
  border-color: #4b6ed6;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
  gap: 0.5rem;
}
.nav__link {
  display: flex;
  align-items: center;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.5rem;
  color: #222222;
  transition: 0.15s;
}
.nav__link:hover {
  background-color: #e2e5f6;
  fill: #4b6ed6;
}
.nav__link:focus-within {
  background-color: #e2e5f6;
  fill: #4b6ed6;
}

.search__input {
  width: 100%;
  padding: 8px 0px 8px 14px;
  border-right: 1px solid #e3e5ed;
}

.btn-search {
  padding: 6px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  font-size: clamp(0.5rem, 0.3542rem + 0.7778vw, 0.81rem);
}

.i-category {
  margin-top: 0.1875rem;
}

.banner {
  overflow: hidden;
  padding: 0px 0.875rem;
  position: relative;
  margin: 0 auto;
  top: 1.25rem;
}
.banner__card {
  position: relative;
  padding: 3rem 0 3rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #e3e5ed;
  max-width: 43.75rem;
}

.card__img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 30%;
  right: 0;
  border-radius: 0.5rem;
}
.card__fade {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  background-image: linear-gradient(to right, #f0f2fa, #f0f2fa 30%, transparent 100%, transparent);
}
.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  z-index: 9;
}
.card__content-title {
  font-weight: 700;
  font-size: clamp(1.5rem, 0.3542rem + 0.7778vw, 2rem);
}
.card__content-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0.3rem 0rem 1.5rem 0rem;
}

.hashtags {
  position: relative;
  top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  overflow: hidden;
  padding: 0px 0.875rem;
}

.hashtag {
  font-size: clamp(0.5rem, 0.3542rem + 0.7778vw, 0.81rem);
  padding: 0.3125rem 0.5rem;
  border-radius: 0.4rem;
  background-color: #4b6ed6;
  color: white;
  letter-spacing: 0.0425rem;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  white-space: nowrap;
}

@keyframes slideLeft {
  100% {
    transform: translate(50%);
  }
}
.auth {
  margin: 0 auto;
  padding: 2rem 0rem;
  max-width: 25rem;
}
.auth__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.auth__home {
  font-size: 0.8125rem;
  transition: 0.2s all;
}
.auth__home:hover {
  color: #4b6ed6;
  fill: #4b6ed6;
}
.auth__content {
  background-color: #f5f7ff;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.auth__title {
  font-size: clamp(1.2rem, 0.3542rem + 0.7778vw, 24rem);
  margin-bottom: 0rem;
}
.auth__input-box {
  border-radius: 0.3125rem;
  padding: 0.625rem;
  border: 2px solid;
  border-color: #e3e5ed;
  display: flex;
  align-items: center;
}
.auth__input-box:focus-within {
  border: 2px solid #4b6ed6;
}
.auth__input {
  width: 100%;
}
.auth__icon {
  max-width: 1rem;
  max-height: 1rem;
  margin-right: 0.3rem;
}
.auth__btn {
  background-color: #4b6ed6;
  color: white;
  border-radius: 0.5rem;
  padding: 3px 0rem;
}
.auth__btns {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.auth__link {
  color: #4b6ed6;
}

/*# sourceMappingURL=style.css.map */
