.icon
    display: flex
    align-items: center
    justify-content: center
    min-width: 20px
    max-width: 18px
    max-height: 18px
    &:hover
        fill: $blue

.btn
    position: relative
    z-index: 10px
    padding: .25rem 0.6rem
    background-color: $dark
    border-radius: .3rem
    color: $grey
    transition: 0.3s all
    box-shadow: 0px 0px 3px 0px rgba(110, 110, 125, 0.2), 0 2px 2px 0 rgba(110, 110, 125, 0.2), 0 1px 5px 0 rgba(110, 110, 125, 0.2)

a
    color: $dark

.swiper-slide
    display: flex
    justify-content: center

.banner__item
    border-radius: 1rem
    overflow: hidden

.swiper
    max-width: 59rem

.swiper-btn
    position: absolute
    z-index: 999
    text-align: center
    width: 35px
    height: 35px
    color: $dark
    background-color: $white
    border-radius: 50%
    box-shadow: 0px 0px 3px 0px rgba(110, 110, 125, 0.6), 0 2px 2px 0 rgba(110, 110, 125, 0.6), 0 1px 5px 0 rgba(110, 110, 125, 0.6)
    &::after
        font-size: 16px
        font-weight: 700
        line-height: 0
