.footer
    font-size: $fz13
    margin-top: 4rem
    background-color: $grey
    padding: 2rem
    display: flex
    flex-direction: column
    &__content
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0
    &__logo
        font-size: $fz13
        display: flex
        align-items: center
        justify-content: center
        gap: 0.2rem
        &:hover
            color: $dark
    &__pic
        width: 1.5rem
        height: 1.5rem
    &__logo_pic
        width: 1.5rem
        width: 1.5rem
    &__line
        margin: 1rem 0rem
        background-color: $white
        height: .0625rem
    &__text
        font-size: $fz13
        margin-right: 0.5rem
    &__media
        display: flex
        align-items: center
        justify-content: center
        gap: 0.8rem
    &__down
        color: grey
        text-align: center
        &:hover
            color: grey

@media screen and (max-width: 600px)
    .create-post
        padding: 0rem 0.5rem
    .post__box
        width: 100%
