.hashtags
    margin-top: 2rem
    margin-bottom: 4rem
    display: flex
    justify-content: center
.hashtag
    font-size: $fz13
    margin: 0rem 0.5rem
    padding: .3125rem .5rem
    border-radius: .5rem
    background-color: $blue
    color: $white
    letter-spacing: .0625rem
