.hashtags
    padding-top: 2.5rem
    position: relative
    display: flex
    flex-wrap: wrap
    gap: 11px
    max-width: 59rem
    margin: 0 auto
.hashtag
    font-size: $fz13
    padding: .3125rem .5rem
    border-radius: .4rem
    background-color: #F0F2FA
    border: thin solid rgba(0, 0, 0, .12)
    color: $dark
    letter-spacing: .0425rem
    align-self: flex-start
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 1
    white-space: nowrap
    min-width: 0

@media screen and (max-width: 600px)
    .hashtags
        padding: 1.25rem
