.logo
    user-select: none

.header-bg
    background-color: $grey
    color: $dark
.header
    display: flex
    gap: 1rem
    justify-content: space-between
    padding: .25rem
    align-items: center
    font-size: $fz13
    &-act
        display: flex
        gap: 1rem
        align-items: center
        justify-content: space-between
        margin-left: auto
    &__search
        display: flex
        align-items: center
        width: 18rem
        border-radius: .5rem
        background-color: white
        border: 1px solid
        border-color: $input-bg
        &:focus-within
            border-color: $blue
.hamburger
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
.nav
    display: flex
    gap: 0.5rem
    &__link
        display: flex
        align-items: center
        padding: .3125rem .625rem
        border-radius: .5rem
        color: $dark
        transition: .15s
        &:hover
            background-color: $hover-grey
            fill: $blue
        &:focus-within
            background-color: $hover-grey
            fill: $blue

.search__input
    width: 100%
    padding: 8px 0px 8px 14px
    border-right: 1px solid $input-bg

.btn-search
    padding: 6px

.dropdown-toggle::after
    display: none

.dropdown-item
    font-size: $fz13

.i-category
    margin-top: .1875rem

li
    list-style-type: none
