.logo
    display: flex
    align-items: center
    justify-content: center
    user-select: none
    transition: 0.3s all
    &:hover
        color: $blue

.header-bg
    background-color: $grey
    color: $dark
    position: fixed
    z-index: 9999
    width: 100%
    box-shadow: 0px 0px 3px 0px rgba(110, 110, 125, 0.1), 0 2px 2px 0 rgba(110, 110, 125, 0.1), 0 1px 5px 0 rgba(110, 110, 125, 0.1)
.header
    display: flex
    gap: 1rem
    justify-content: space-between
    padding: .45rem
    align-items: center
    font-size: $fz24
    &-act
        display: flex
        gap: 1rem
        align-items: center
        justify-content: space-between
        margin-left: auto
    &__search
        display: flex
        align-items: center
        width: 18rem
        border-radius: .5rem
        background-color: white
        border: 1px solid
        border-color: $input-bg
        &:focus-within
            border-color: $blue
.nav
    display: flex
    gap: 0.5rem
    &__link
        display: flex
        align-items: center
        padding: .3125rem .625rem
        border-radius: .5rem
        color: $dark
        transition: .15s
        gap: 0.3rem
        &:hover
            background-color: $hover-grey
            fill: $blue
            color: $blue
        &:focus-within
            background-color: $hover-grey
            fill: $blue

.search__input
    width: 100%
    padding: 8px 0px 8px 14px
    border-right: 1px solid $input-bg

.btn-search
    padding: 6px

.dropdown-toggle::after
    display: none

.dropdown-item
    cursor: pointer
    display: flex
    align-items: center
    justify-content: flex-start
    transition: 0.15s all
    &:hover
        color: $blue
        fill: $blue
    &:active
        background-color: $grey

.i-category
    margin-top: .1875rem

li
    list-style-type: none

@media screen and (max-width: 601px)
    .nav__link
        padding: 0.3rem

.nav-collapse
    display: flex
    align-items: center
    z-index: 1
    justify-content: space-between
    z-index: 9999
    width: 100%

.hamburger--slider
    display: none

.header-act-mobile
    display: none
.home
    display: none
    z-index: 99999
.home-ico
    max-height: 30px
    max-width: 30px

@media screen and (max-width: 700px)
    .home
        display: flex
    .logo
        display: none
    .header-act
        display: flex
        flex-direction: column
        gap: 0.5rem
    .hamburger--slider
        display: block
        z-index: 9999
    .nav
        flex-direction: column
        gap: 0
        margin-top: 1.2rem
    .nav__link
        margin-bottom: 1rem
        gap: 0.7rem
    .nav-collapse
        position: absolute
        transition: 0.6s all
        background-color: #f0f2fa
        max-width: 60%
        top: 0
        left: -100%
        height: 100vh
        flex-direction: column
        align-items: flex-start
        padding: 2rem 0rem 0rem 0.5rem
        box-shadow: 0px 0px 3px 0px rgba(110, 110, 125, 0.1), 0 2px 2px 0 rgba(110, 110, 125, 0.1), 0 1px 5px 0 rgba(110, 110, 125, 0.1)
    .header-act-mobile
        display: flex
        flex-direction: column
        align-items: flex-start
    .header-act
        display: none
    .is-active
        left: 0
