// sass --watch /public/assets/sass/style.sass /public/assets/css/style.css  
@import "./_fonts"
@import "./_var"
.container
    max-width: 80rem
    margin: 0 auto
.wrapper
    font-family: Aeroport, sans-serif
@import  "./_header"
